html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }
/* Color Theme Swatches in Hex */
.rene--1-hex { color: #172601; }
.rene--2-hex { color: #456E27; }
.rene--3-hex { color: #E0E5E9; }
.rene--4-hex { color: #D4D9DF; }
.rene--5-hex { color: #432F23; }

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
  
.header {
  background-image: url("images/plachtak-uvod.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-bottom: 30%;
  height: 400px;
}

header {
  display: grid;
  grid-row: 1fr 1fr;
  gap: 30vh;
}

.header_h {
  color: white;
  text-shadow: 0 0 4px black;
  font-size: 10px;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

/*menu*/
.menu__checkbox {
	position: absolute;
	left: -99999px;
}

.menu-parts {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: transparent;
  text-align: center;
}

.menu__toggler {
  color: white;
  text-align: right;
  float: right;
  padding-right: 2%;
}

.menu__item {
	border-bottom: 1px solid white;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: white;
}

.menu__link:hover {
	background-color:rgba(228, 214, 214, 0.5);
  color: white;
}

.menu__checkbox:checked ~ .menu-parts {
	display: block;
  background-color:rgba(228, 214, 214, 0.5);
  color: white;
}


@media screen and (min-width: 800px) {
	.menu__toggler {
		display: none;
	}

	.menu-parts {
		display:flex !important;
	}

	.menu__item {
		border-bottom: 0;
		border-right: 1px solid white;
	}

  .menu {
    position: absolute;
  }
}
/*menu*/

/*ikony*/
.icon_pic {
  width: 30%;
}

.section_icons {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section_icons p {
  text-align: center;
  font-size: 10px;
}

.section_icons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*ikony*/

/*galerie*/
.knife-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 0;
}

.knife-box {
  height: 100%;
  width: 100%;
  background-color: #D4D9DF;
}

.knife-box p {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 0;
  margin-top: 0;
}

.box-galery H2 {
  text-align: center;
}

.galery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 300px));
  grid-auto-rows: 200px;
  gap: 40px;
  justify-content: center;
  padding-bottom: 2%;
}

.box-galery {
  padding-bottom: 5%;
}
.knife-box {
  background-color: red;
}
/*galerie*/

/*srdicko*/

.story img {
  max-width: 50%;
  max-height: 50%;
  padding: 2%;
  object-fit: cover;
}

.story-left {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.story-right {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 2%;
  padding-bottom: 2%;
}

.story {
  padding-left: 5%;
  padding-right: 5%;
}

/*srdicko*/

/*výroba*/
.production {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 300px));
  grid-auto-rows: 200px;
  gap: 40px;
  justify-content: center;
  padding-bottom: 5%;
}

.production-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 0;
  margin-bottom: 0;
}

.production-section H2 {
  text-align: center;
}

.production-box p {
  margin: 0;
  text-align: center;
}

/*výroba*/

/*reference*/

.reference img {
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reference {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
}

.reference-person {
  max-width: 300px;
}

.reference-person p {
  text-align: center;
}

.reference h2 {
  text-align: center;
}

/*reference*/

/*kontakt*/

.contact {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}

.adress {
  text-align: left;
}
/*kontakt*/

/*formulář*/

.form-inside input,
.form-inside textarea,
.form-inside select
{
	width: 100%;
}

.form-inside2 {
  text-align: right;
}

/*formulář*/

/*buttons*/

.button-secondary {
  font-size: 16px;
  background-color: #D4D9DF;
  border: none;
  outline: none;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: 2%;
}


/*buttons*/