<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nože Jansa</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/0495b04fe4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header_menu">
            <div>
                <img class="logo" src="/images/logo-w.png" alt="logo Nože Jansa">
            </div>
            <div>
                <nav class="menu">
                    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
                    <label for="menu-checkbox" class="menu__toggler">☰</label>

                    <ul class="menu-parts">
                        <li class="menu_item"><a class="menu__link" href="/">Hlavní strana</a></li>
                        <li class="menu_item"><a class="menu__link" href="/galerie">Galerie nožů</a></li>
                        <li class="menu_item"><a class="menu__link" href="/filozofie">Má filozofie</a></li>
                        <li class="menu_item"><a class="menu__link" href="/reference">Reference</a></li>
                        <li class="menu_item"><a class="menu__link" href="/kontakt">Kontakt</a></li>
                        <i class="fab fa-instagram" href="https://www.instagram.com/renda.knives/"></i>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header_h">
            <h1>Nože Jansa</h1>
            <h2>Výroba kvalitních designových nožů na zakázku.</h2>
        </div>
    </header>

    <main class="main">

        {{ content | safe }}

    </main>

    <footer>Vytvořila: Šárka Filipiová</footer>
</body>
</html>